repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check
        language: system
        files: \.py$
        pass_filenames: false
        always_run: true
      - id: pytest
        name: run tests
        entry: uv run pytest --no-cov
        language: system
        files: \.py$
        pass_filenames: false
        always_run: true
